* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: rgb(33, 37, 41);
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.col-4 {
  width: 33.33%;
  padding: 20px;
}
.col-3 {
  width: 25%;
  padding: 20px;
}
.parent {
  display: flex;
  align-items: center;
  gap: 20px;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
}
.header__middle ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  padding: 0;
  gap: 20px;
}
.header__right {
  float: right;
}
header button {
  padding: 10px;
  cursor: pointer;
  gap: 10px;
  display: flex;
  align-items: center;
  border: 1px solid grey;
  transition: 0.3s;
  border-radius: 2px;
  justify-content: space-between;
}
.counter {
  display: inline-block;
  background-color: var(--main-color);
  color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header ul li a {
  color: black;
  text-decoration: none;
}
.header__middle {
  justify-self: start;
}
.shopping {
  background-color: rgb(33, 37, 41);
  text-align: center;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  flex-direction: column;
  height: 300px;
  margin-bottom: 50px;
}
.shopping h2 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.shopping p {
  font-size: 1rem;
  color: grey;
}
.card {
  border: 1px solid grey;
  border-radius: 10px;
  height: 420px;
  position: relative;
  overflow: hidden;
}
.card__header {
  position: relative;
}
.card__body__rating {
  color: gold;
}
.sale {
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 10px;
  border-radius: 10px;
  display: block;
  color: white;
  background-color: var(--main-color);
}
.card img {
  width: 100%;
}

.card__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.card__body__footer {
  margin-bottom: 20px;
  position: absolute;
  bottom: 20px;
}
.card__body__footer button {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  border: 1px solid grey;
}
.header__right button:hover {
  color: white;
  border: 1px solid grey;
  background-color: var(--main-color);
}

.card__body {
  margin-top: 10px;
}
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: rgb(33, 37, 41);
  color: white;
}
.mobile__menu {
  display: none;
}
@media only screen and (max-width: 768px) {
  .header__middle {
    display: none;
  }
  .header__right {
    display: none;
  }
  .mobile__menu {
    display: block;
  }
  .parent {
    width: 100%;
    justify-content: space-between;
  }
  .shopping h2 {
    font-size: 3rem;
  }
  .col-3 {
    width: 50%;
  }
}
@media only screen and (max-width: 400px) {
  .col-3 {
    width: 100%;
  }
}
